body {
   font-family: Georgia, 'Times New Roman', Times, serif
}
#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#chefImage {
    height: 300px;
    width: 300px;
}
#about-text-container {
    width: 30%;
    font-size: 18px;
    margin: auto;
    border: 1px solid black;
    text-wrap: wrap;
}