.fjord-one-regular {
  font-family: "Fjord One", serif;
  font-weight: 400;
  font-style: normal;
}

body {
   font-family: "Fjord One";
   background-color: #EBD9D1;
   width: 100vw;
   height: 100vh;
}
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #B87C4C;
}
nav{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}
.tab-button {
    background-color: rgb(0, 0, 0,0);
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.tab-button:hover{
    border-bottom: 1px solid black;
}
#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#chefImage {
    height: 300px;
    width: 300px;
}
#about-text-container {
    width: 30%;
    font-size: 18px;
    margin: auto;
    border: 1px solid black;
    text-wrap: wrap;
    padding: 15px;
    line-height: 25px;
}
.creditLink{
    text-decoration: none;
    font-size: 10px;
    color: black;
}
.creditLink:visited{
    color: black;
}
/* holds menuOptions */
#menuContainer { 
    width: 100vw;
    height: fit-content;
}
#menuOptions {
    display: flex;
    flex-direction: column;
    width: 75%;
}

/* modifies food images */
.menuImg{
    height: 400px;
    width: 400px;
}

.foodItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
}